

<div class="card custom-card col-6 my-4 mx-auto text-center">
  <form class="form-group" id="post-form">
    <label for="editor">Welcome <strong>{{name}}!</strong> What do you want to blog about?</label>
    <div id="editor"></div>
    <button class="btn btn-sm col-2 btn-primary" type="button" id="post-quill">Post</a>
  </form>
</div>


<div class="bg-light container text-center mx-auto  custom-card col-3 custom-h2">
  <h2>Recent posts:</h2>
</div>


<h2 class="text-center">Recent posts:</h2>
{{#if userPosts.length}}
  {{#each userPosts as |post|}}
  <div class="card mx-auto col-8 my-4">
    {{#if post.trail}}
    <ul class="list-unstyled card-body ">
      {{#each post.trail as |trail|}}
      {{#if trail.content}}
      <li class="media">
        {{!-- <img src="..." class="mr-3 rounded" alt="..."> --}}
        <div class="media-body border-bottom py-1">
          <p class="mt-0 mb-1 card-text pb-1" style="font-weight: bold; font-size: smaller"></p>{{trail.user.name}}</p>
          {{{trail.content}}}
        </div>
      </li>
      {{/if}}
      {{/each}}
    </ul>
    {{/if}}
    <h5 class="card-title mt-1 ml-1">

        {{{post.content}}}
    </h5>
    <div class="card-text text-right border-bottom">
    <p>created on {{format_date createdAt}}</p>
  </div>
  </div>
  {{/each}}
{{/if}}

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src='./js/newpost.js'></script>