{{#if posts.length}}
<div class="col-8 my-4 mx-auto " id="post-list">
  {{#each posts as |post|}}
  <div class="card custom-card">
    {{#if post.trail}}
    <ul class="list-unstyled card-body ">
      {{#each post.trail as |trail|}}
      <li class="media">
        {{!-- <img src="..." class="mr-3 rounded" alt="..."> --}}
        <div class="media-body border-bottom py-1">
          <p class="mt-0 mb-1 card-text pb-1"></p><strong>{{trail.user.name}}</strong></p>
          {{{trail.content}}}
        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    
    {{#if post.content}}
    <div class="card-body">
      <h5 class="card-title">
          {{{post.content}}}
      </h5>
    </div>
    <div class="card-text">
      <p>Posted by {{post.user.name}} on {{format_date createdAt}}</p>
    </div>
    {{else}}
    <p style="font-size: smaller; font-style: italic;">RePOSTed by {{post.user.name}} on {{format_date createdAt}}</p>
    {{/if}}
    {{#if post.follow_tag}}
    <p class="text-center" style="font-style: italic;">Click the post to see more...</p>
    {{/if}}
    {{#if post.content}}
    <button class="btn col-2 btn-sm mx-auto btn-primary mb-3 reblog" id="{{post.id}}">rePOST</button>
    {{else}}
    <button class="btn col-2 btn-sm mx-auto btn-primary mb-3 reblog" id="{{post.post_id}}">rePOST</button>
    {{/if}}
  </div>
  <br>
  {{/each}}
  </div>
{{/if}}


{{!-- {{#if posts.length}}
<div class="card" id="post-list">
   {{#each posts as |post|}}
  <div class="card-content">
    <div class="content">
       {{post.content}}
    </div>
  </div>
  <time>Posted by {{post.user.name}} on {{format_date createdAt}}</time>
  <footer class="card-footer justify-content-center">
    <button class="btn btn-outline-success reblog-btn" id="{{post.id}}" type="button">rePOST</button>
  </footer>
  {{/each}}
</div>
{{/if}} --}}

<script src="./js/reblog-button.js"></script>
