{{#if posts.length}}
<div class="card col-6 my-4" id="post-list">
  {{#each posts as |post|}}
  <div class="card-body">
    {{#each post.trail as |trail|}}
    <div class="card-body">
      <div class="card-text">
       {{trail.content}}
      </div>
      <p>Posted by {{trail.name}} on {{format_date trail.createdAt}}</p>
      <p>---------------</p>
    </div>
    {{/each}}
    
    <div class="d-flex justify-content-between">
      <h5 class="card-title">
          Posted by {{post.user.name}} on {{format_date createdAt}}
      </h5>
    </div>
    <div class="card-text">
      <p>{{post.content}}</p>
    </div>
    {{#if post.follow_tag}}
    <p style="font-style: italic;">Click the post to see more...</p>
    {{/if}}
  </div>
  <button class="btn btn-primary" id="{{post.id}}">rePOST</button>
  {{/each}}
  </div>
{{/if}}


{{!-- {{#if posts.length}}
<div class="card" id="post-list">
   {{#each posts as |post|}}
  <div class="card-content">
    <div class="content">
       {{post.content}}
    </div>
  </div>
  <time>Posted by {{post.user.name}} on {{format_date createdAt}}</time>
  <footer class="card-footer justify-content-center">
    <button class="btn btn-outline-success reblog-btn" id="{{post.id}}" type="button">rePOST</button>
  </footer>
  {{/each}}
</div>
{{/if}} --}}

<script src="./js/reblog-button.js"></script>
